<%= simple_form_for(@phone) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :area_code %>
    <%= f.input :number %>
    <%= f.input :type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
