<p id="notice"><%= notice %></p>

<p>
  <strong>Due at:</strong>
  <%= @payment.due_at %>
</p>

<p>
  <strong>Ref date:</strong>
  <%= @payment.ref_date %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @payment.paid_at %>
</p>

<p>
  <strong>Value:</strong>
  <%= @payment.value %>
</p>

<p>
  <strong>Client:</strong>
  <%= @payment.client %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
